<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
    <title>CupAtel Minecraft</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">главная</a>
            <a href="/register">регистрация</a>
            <a href="/map">карта</a>
        </nav>
    </header>
    <div class="captcha">
        <img src="captcha.php" alt="captcha">
        <input type="text" name="captcha" placeholder="введите код с картинки">
        <button></button>
    </div>
    <div class="form">
        <div class="nickname">
            <p>Ваш ник</p>
            <input type="text" name="nickname" placeholder="">
        </div>
        <div class="license">
            <p>У меня есть лицензия</p>
            <input type="checkbox" name="license">
        </div>
        <div class="password">
            <p>Придумайте пароль</p>
            <input type="password" name="password" placeholder="">
        </div>
        <div class="about">
            <p>Кратко расскажите о себе</p>
            <textarea name="about" placeholder="откуда вы узнали о сервере / кем вы хотите быть на сервере"></textarea>
        </div>
        <button class="send_btn">Добавьте в вайтлист</button>
    </div>
    <script src="assets/js/registration.js"></script>
</body>

</html>